@font-face {
  font-family: "Geologica Light";
  src: url("./fonts/Geologica-Light.eot");
  src: url("./fonts/Geologica-Light.eot?#iefix") format("embedded-opentype"), url("./fonts/Geologica-Light.woff") format("woff"), url("./fonts/Geologica-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geologica Regular";
  src: url("./fonts/Geologica-Regular.eot");
  src: url("./fonts/Geologica-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/Geologica-Regular.woff") format("woff"), url("./fonts/Geologica-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geologica Medium";
  src: url("./fonts/Geologica-Medium.eot");
  src: url("./fonts/Geologica-Medium.eot?#iefix") format("embedded-opentype"), url("./fonts/Geologica-Medium.woff") format("woff"), url("./fonts/Geologica-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geologica Semibold";
  src: url("./fonts/Geologica-Semibold.eot");
  src: url("./fonts/Geologica-Semibold.eot?#iefix") format("embedded-opentype"), url("./fonts/Geologica-Semibold.woff") format("woff"), url("./fonts/Geologica-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
