@font-face {
  font-family: "Geologica Light";
  src: url("./fonts/geologica-light.eot");
  src: url("./fonts/geologica-light.eot?#iefix") format("embedded-opentype"), url("./fonts/geologica-light.woff") format("woff"), url("./fonts/geologica-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geologica Regular";
  src: url("./fonts/geologica-regular.eot");
  src: url("./fonts/geologica-regular.eot?#iefix") format("embedded-opentype"), url("./fonts/geologica-regular.woff") format("woff"), url("./fonts/geologica-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geologica Medium";
  src: url("./fonts/geologica-medium.eot");
  src: url("./fonts/geologica-medium.eot?#iefix") format("embedded-opentype"), url("./fonts/geologica-medium.woff") format("woff"), url("./fonts/geologica-medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geologica Semibold";
  src: url("./fonts/geologica-semibold.eot");
  src: url("./fonts/geologica-semibold.eot?#iefix") format("embedded-opentype"), url("./fonts/geologica-semibold.woff") format("woff"), url("./fonts/geologica-semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
