:root {
  /* Typography */
  --font-geologica-light: "Geologica Light", system-ui, -apple-system, sans-serif;
  --font-geologica-regular: "Geologica Regular", system-ui, -apple-system, sans-serif;
  --font-geologica-medium: "Geologica Medium", system-ui, -apple-system, sans-serif;
  --font-geologica-semibold: "Geologica Semibold", system-ui, -apple-system, sans-serif;

  /* Colors */
  --color-white: #fff;
  --color-white-rgb: 255 255 255;
  --color-black: #000;
  --color-black-rgb: 0 0 0;
  --color-theme-light: #7b47e1;
  --color-theme-main: #6838f9;
  --color-theme-darkest: #05071b;
}
